<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_componentes/polymer/lib/elements/dom-repeat.html">

<dom-module id="movimientos-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerMovimientos"
               url="http://localhost:83/v2/movimientos"
               handle-as="json"
               on-response="mostrarMovimientos">
    </iron-ajax>
    <div>
      <button class="btn btn-default" on-click="invocarPeticion">Invocar</button>
    </div>
    <div class="row">

    <div hidden$="{{noCargados}}" class="col-lg-6 ">
      <span>{{ciudadSeleccionada}}</span>
    <table class="table table-striped">
      <thead>
        <th>Id</th>
        <th>Fecha</th>
        <th>Importe</th>
        <th>Ciudad</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Ver detalles</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}">
        <tr on-click="mostrarInfoFila">
          <td>{{item.id}}</td>
          <td>{{item.fecha}}</td>
          <td>{{item.importe}}</td>
          <td>{{item.ciudad}}</td>
          <td>{{item.latitud}}</td>
          <td>{{item.longitud}}</td>
          <td><a class="btn btn-info" href="/movimientos/[[item.id]]">Ver detalles</a></td>
        </tr>
        </template>
      </tbody>
    </table>
    </div>
    <div class="row col-lg-12 col-sm-12">
      <div class="card-deck">

    <template is="dom-repeat" items="{{movimientos}}">
      <div class="col-sm-3">

      <div class="card">
        <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center=[[item.ciudad]]&zoom=6&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">{{item.id}}</h5>
        <p class="card-text">{{item.fecha}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{item.importe}}</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">{{item.ciudad}}</a>
        <a href="#" class="card-link">{{item.latitud}}</a>
        <a href="#" class="card-link">{{item.longitud}}</a>
      </div>

    </div>
    </div>


</template>
  </div>
  </div>

</div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosApp extends Polymer.Element {
      static get is() { return 'movimientos-app'; }
      static get properties() {
        return {
          movimientos: {
            type: Array
          },
          noCargados: {
            type: Boolean,
            value: true
          },
          ciudadSeleccionada: {
            type: String
          }
        }
      }

      invocarPeticion() {
        this.$.obtenerMovimientos.generateRequest();
      }
      mostrarMovimientos(data) {
        console.log(data.detail.response)
        this.movimientos = data.detail.response
        this.noCargados = false
      }
      mostrarInfoFila(e) {
        console.log(e)
        this.ciudadSeleccionada = e.model.item.ciudad
      }
    }
    window.customElements.define(MovimientosApp.is, MovimientosApp);
  </script>
</dom-module>
