<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <button on-click="gestionarClick">Púlsame</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorApp extends Polymer.Element {
      static get is() { return 'emisor-app'; }
      static get properties() {
        return {
        };
      }
      gestionarClick(e) {
        console.log("ONCLICK: He pulsado el botón")
        this.dispatchEvent(new CustomEvent('emitido', {detail:{origen:"TechU", anno:2018}}))
      }
    }

    window.customElements.define(EmisorApp.is, EmisorApp);
  </script>
</dom-module>
